{% extends 'base_player.html' %}

{% block content %}
    <script type="text/javascript">
    var tracks = {{ track_json|safe }};
    </script>
    <div class="player jp-interface">
        <div class="header">
            <h3>{{ track.title }}</h3>
        </div>
        <div class="content">
            <div class="left controls" style="display: table;">
                <div style="display: table-cell; vertical-align: middle">
                    <a class="jp-play">Play<span></span></a>
                    <a class="jp-pause">Pause<span></span></a>
                </div>
            </div>
            <div class="waveform jp-progress">
                <img src="/waveform/{{ waveform.id }}/img/" />
                <canvas id="waveform"></canvas>
                <div class="jp-progress">
                    <div class="jp-seek-bar">
                        
                    </div>
                    <div class="jp-play-bar"></div>
                </div>
            </div>
        </div>
        <div id="jplayer"></div>
    </div>

    <script>
        var track_id = {{ track.id }};
        var player;
        $(function() {
            player = CanvasPlayer(track_id).init()
            initPlayer()
        })

    </script>

{% endblock %}