html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: hidden
}

.player {
    height: 100%;
}

.player .header {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
}

.player .header h3 {
    margin: 0
}

.player .content {
    height: 200px;
}

.player .left {
    float: left;
    width: 100px;
    height: 100%;
    border: 1px solid #ccc;
}

.player .waveform {
    height: 100%;
    margin-left: 100px;
}

.player .waveform img {
    width: 100%;
    height: 90%;
    top: 5%;
    position: absolute;
}

.player .waveform canvas {
    position: absolute;
    top: 0;
}

.player .jp-progress {
    position: relative;
    height: 100%;
}

.player .jp-seek-bar {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    border-top: 5px solid #006699;
}

.player .jp-play-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.4;
    background-color: #006699;
}

.player .controls a {
    border-radius: 32px;
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
    position: relative;
    text-indent: -9999px;
}

.player .jp-play span, .player .jp-pause span {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: #eeeeee;
    text-indent: -9999px;
}

.player .jp-play span {
    background: url(http://www.affinescheme.com/LifeLabHelp/LifeLabHelp/PlayPause_files/Play.png) top left no-repeat;
}

.player .jp-pause span {
    background: url(http://www.affinescheme.com/LifeLabHelp/LifeLabHelp/PlayPause_files/PauseTexture.png) top left no-repeat;
}

.controls > a:hover {
    border: 1px solid #ccc;
}